<div class="container mt-5 mb-5">
    <div class="text-center mt-5 mb-5">
        <h1>Product Details</h1>
    </div>
    {{#if isCoaster}}
        <form action="/save" method="post">
            <label for="Image">Image (choose one):</label>
            {{#each this.result.images}}
                <div class="input-group mb-3">
                    <input type="radio" name="image" value="{{this.resource_url}}" required>
                    <img src="{{this.resource_url}}" alt="{{this.artists_sort}} {{this.title}}" height="150" width="150">
                </div>
            {{/each}}

            <label for="Item">Item:</label>
            <div class="input-group form-outline w-50">
                <input type="text" class="form-control mb-3" name="title"
                    value="{{this.artist}} Groovy Coaster - {{this.title}}" required>
            </div>

            <label for="Sku">Sku:</label>
            <div class="input-group form-outline w-50">
                <input type="text" class="form-control mb-3" name="sku">
            </div>

            <label for="Quantity">Quantity:</label>
            <div class="input-group mb-3 form-outline w-25">
                <input class="form-control" type="number" name="quantity" value="1" required>
            </div>

            <label for="Price">Price:</label>
            <div class="input-group mb-3 form-outline w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" step=".01" class="form-control" aria-label="Amount (to the nearest dollar)"
                    name="price" required>
            </div>

            <label for="Description">Description:</label>
            <div class="input-group mb-3 form-outline w-50">
                <textarea id="itemDescription" name="body_html" class="form-control" cols="30"
                    rows="10"><strong><ul><li>ALL Groovy Coasters are made from REAL vinyl records!</li><li>The label has been waterproofed and we've attached cork to the back.</li><li>Our products are proudly sourced, made and assembled in the USA!</li><li>Please note that coasters could vary slightly from photo due to label variations and normal wear. Remember that we repurpose used records.</li><li>Groovy Coasters come with an unconditional 100% satisfaction guarantee!</li></ul></strong></textarea>
                <div class="form-text">Hint: in the text area above, each "< li>blah blah blah< /li>" represents a bullet
                            point. To add another, just type in whatever you want between a new set of < li> tags, and don't
                                worry about any red squiggly lines about spelling errors under the HTML Tags.</div>
            </div>

            <label for="Coaster Type Tags">Coaster Type Tags (required):</label>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input id="inputForLPCoasters" class="form-check-input" type="radio" onclick="changeDescription()"
                        name="tags" value="LP Coasters" checked>
                    <label class="form-check-label">LP Coasters</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="inputFor45Coasters" class="form-check-input" type="radio" onclick="changeDescription()"
                        name="tags" value="45 Coasters">
                    <label class="form-check-label">45 Coasters</label>
                </div>
            </div>

            <label for="Genre Tags">Genre Tags:</label>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Alternative Rock">
                    <label class="form-check-label">Alternative Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Blues">
                    <label class="form-check-label">Blues</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Broadway">
                    <label class="form-check-label">Broadway</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Children's">
                    <label class="form-check-label">Children's</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Christian">
                    <label class="form-check-label">Christian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Classic Rock">
                    <label class="form-check-label" for="">Classic Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Comedy">
                    <label class="form-check-label" for="">Comedy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Country">
                    <label class="form-check-label" for="">Country</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Current R&B">
                    <label class="form-check-label">Current R&B</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Disco">
                    <label class="form-check-label">Disco</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Easy Listening">
                    <label class="form-check-label" for="">Easy Listening</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Eighties">
                    <label class="form-check-label">Eighties</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Electronic">
                    <label class="form-check-label">Electronic</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Folk">
                    <label class="form-check-label">Folk</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Hard Rock">
                    <label class="form-check-label">Hard Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Heavy Metal">
                    <label class="form-check-label">Heavy Metal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Hip Hop">
                    <label class="form-check-label">Hip Hop</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Jazz">
                    <label class="form-check-label">Jazz</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Latin">
                    <label class="form-check-label">Latin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Oddities">
                    <label class="form-check-label">Oddities</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Oldies">
                    <label class="form-check-label">Oldies</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Pop">
                    <label class="form-check-label" for="">Pop</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Pop Vocals">
                    <label class="form-check-label">Pop Vocals</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Punk/New Wave">
                    <label class="form-check-label">Punk/New Wave</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Reggae/World">
                    <label class="form-check-label">Reggae/World</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Soundtracks">
                    <label class="form-check-label">Soundtracks</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Soul">
                    <label class="form-check-label">Soul</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Spoken Word">
                    <label class="form-check-label">Spoken Word</label>
                </div>
            </div>

            <label for="Coaster Type Tags">Miscellaneous Tags:</label>
            <div class="mb-5">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Premium Coasters">
                    <label class="form-check-label">Premium Coasters</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Just One Color">
                    <label class="form-check-label">Just One Color</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Beautiful Design">
                    <label class="form-check-label">Beautiful Design</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Non-Music Image">
                    <label class="form-check-label">Non-Music Image</label>
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Save to Shopify">
        </form>

    {{else}}
        <form action="/save" method="post">
            <label for="Item">Image:</label>
            <div class="input-group mb-3">
                <img src="{{this.image}}" alt="{{this.title}}">
                <input type="hidden" name="image" value="{{this.image}}">
            </div>

            <label for="Item">Item:</label>
            <div class="input-group form-outline w-50">
                <input type="text" class="form-control mb-3" name="title"
                    value="{{this.title}} Framed Album Cover" required>
            </div>

            <label for="Sku">Sku:</label>
            <div class="input-group form-outline w-50">
                <input type="text" class="form-control mb-3" name="sku">
            </div>

            <label for="Quantity">Quantity:</label>
            <div class="input-group mb-3 form-outline w-25">
                <input class="form-control" type="number" name="quantity" value="1" required>
            </div>

            <label for="Price">Price:</label>
            <div class="input-group mb-3 form-outline w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" step=".01" class="form-control" aria-label="Amount (to the nearest dollar)"
                    name="price" required>
            </div>

            <label for="Description">Description:</label>
            <div class="input-group mb-3 form-outline w-50">
                <textarea id="itemDescription" name="body_html" class="form-control" cols="30"
                    rows="10">
                    
                </textarea>
            </div>

            <input type="hidden" name="tags" value="Framed Album Covers">

            <label for="Genre Tags">Genre Tags:</label>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Alternative Rock">
                    <label class="form-check-label">Alternative Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Blues">
                    <label class="form-check-label">Blues</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Broadway">
                    <label class="form-check-label">Broadway</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Children's">
                    <label class="form-check-label">Children's</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Christian">
                    <label class="form-check-label">Christian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Classic Rock">
                    <label class="form-check-label" for="">Classic Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Comedy">
                    <label class="form-check-label" for="">Comedy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Country">
                    <label class="form-check-label" for="">Country</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Current R&B">
                    <label class="form-check-label">Current R&B</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Disco">
                    <label class="form-check-label">Disco</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Easy Listening">
                    <label class="form-check-label" for="">Easy Listening</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Eighties">
                    <label class="form-check-label">Eighties</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Electronic">
                    <label class="form-check-label">Electronic</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Folk">
                    <label class="form-check-label">Folk</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Hard Rock">
                    <label class="form-check-label">Hard Rock</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Heavy Metal">
                    <label class="form-check-label">Heavy Metal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Hip Hop">
                    <label class="form-check-label">Hip Hop</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Jazz">
                    <label class="form-check-label">Jazz</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Latin">
                    <label class="form-check-label">Latin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Oddities">
                    <label class="form-check-label">Oddities</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Oldies">
                    <label class="form-check-label">Oldies</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Pop">
                    <label class="form-check-label" for="">Pop</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Pop Vocals">
                    <label class="form-check-label">Pop Vocals</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Punk/New Wave">
                    <label class="form-check-label">Punk/New Wave</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Reggae/World">
                    <label class="form-check-label">Reggae/World</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Soundtracks">
                    <label class="form-check-label">Soundtracks</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Soul">
                    <label class="form-check-label">Soul</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags" value="Spoken Word">
                    <label class="form-check-label">Spoken Word</label>
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Save to Shopify">

        </form>
    {{/if}}
</div>

<script>
    function changeDescription() {
        const inputForLPCoasters = document.getElementById('inputForLPCoasters');
        const inputFor45Coasters = document.getElementById('inputFor45Coasters');
        const itemDescription = document.getElementById('itemDescription');

        if (inputForLPCoasters.checked === true) {
            itemDescription.value = "<strong><ul><li>ALL Groovy Coasters are made from REAL vinyl records!</li><li>The label has been waterproofed and we've attached cork to the back.</li><li>Our products are proudly sourced, made and assembled in the USA!</li><li>Please note that coasters could vary slightly from photo due to label variations and normal wear. Remember that we repurpose used records.</li><li>Groovy Coasters come with an unconditional 100% satisfaction guarantee!</li></ul></strong>";
        };

        if (inputFor45Coasters.checked === true) {
            itemDescription.value = "<strong><ul><li>All 45 coasters come with a plastic 45 adapter in the center hole!</li><li>ALL Groovy Coasters are made from REAL vinyl records!</li><li>The label has been waterproofed and we've attached cork to the back.</li><li>Our products are proudly sourced, made and assembled in the USA!</li><li>Please note that coasters could vary slightly from photo due to label variations and normal wear. Remember that we repurpose used records.</li><li>Groovy Coasters come with an unconditional 100% satisfaction guarantee!</li></ul></strong>";
        }
    }
</script>