<div class="container mt-5 mb-5">
    <form action="/save" method="post">
        {{#each this.result.images}}
        <div class="input-group mb-3">
            <input type="radio" name="image" value="{{this.resource_url}}" required>
            <img src="{{this.resource_url}}" alt="{{this.artists_sort}} {{this.title}}" height="150" width="150">
        </div>
        {{/each}}

        <label for="">Item</label>
        <div class="input-group form-outline w-50">
            <input type="text" class="form-control mb-3" name="title" value="{{this.artist}} Groovy Coaster - {{this.title}}" required>
        </div>

        <label for="">Quantity</label>
        <div class="input-group mb-3 form-outline w-25">
            <input class="form-control" type="number" name="quantity" value="1" required>
        </div>

        <label for="">Price</label>
        <div class="input-group mb-3 form-outline w-25">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" step=".01" class="form-control" aria-label="Amount (to the nearest dollar)" name="price" required>
        </div>

        <label for="">Description</label>
        <div class="input-group mb-3 form-outline w-50">
            <textarea name="body_html" class="form-control" cols="30" rows="10"><strong>Groovy Coasters are made from REAL vinyl records! We've waterproofed the label and have attached cork to the back. Our products are proudly made and assembled in the USA. Groovy Coasters come with an unconditional 100% satisfaction guarantee!</strong></textarea>
        </div>

        <input type="submit" class="btn btn-success" value="Save to Shopify">
    </form>
</div>