<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Record Coasters</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <form class="ms-auto" action="/logout" class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {{#each results}}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{this.cover_image}}" width="200" height="200">
                    {{this.title}}
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/details" method="post">
                                    <input type="hidden" name="title" value="{{this.title}}">
                                    <input type="hidden" name="resource_url" value="{{this.resource_url}}">
                                    <input type="hidden" name="releaseId" value="{{this.id}}">
                                    <input type="submit" value="Get Details">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<a href="/home">Return</a>
</div>